<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LearnWords</key>
	<array>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Mother</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Mother</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Mother</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Mother</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Listening</string>
			<key>AnswerType</key>
			<string>Writing</string>
		</dict>
		<dict>
			<key>LanguageType</key>
			<string>Foreign</string>
			<key>QuestionType</key>
			<string>Reading</string>
			<key>AnswerType</key>
			<string>MultipleSelection</string>
		</dict>
	</array>
</dict>
</plist>
