<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>levelUpPoint</key>
			<integer>30</integer>
			<key>duelPoint</key>
			<integer>10</integer>
			<key>maxPoint</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>44</integer>
			<key>duelPoint</key>
			<integer>15</integer>
			<key>maxPoint</key>
			<integer>250</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>66</integer>
			<key>duelPoint</key>
			<integer>22</integer>
			<key>maxPoint</key>
			<integer>475</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>100</integer>
			<key>duelPoint</key>
			<integer>33</integer>
			<key>maxPoint</key>
			<integer>812</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>152</integer>
			<key>duelPoint</key>
			<integer>50</integer>
			<key>maxPoint</key>
			<integer>1318</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>228</integer>
			<key>duelPoint</key>
			<integer>76</integer>
			<key>maxPoint</key>
			<integer>2078</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>342</integer>
			<key>duelPoint</key>
			<integer>114</integer>
			<key>maxPoint</key>
			<integer>3218</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>512</integer>
			<key>duelPoint</key>
			<integer>171</integer>
			<key>maxPoint</key>
			<integer>4928</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>768</integer>
			<key>duelPoint</key>
			<integer>256</integer>
			<key>maxPoint</key>
			<integer>7488</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>1552</integer>
			<key>duelPoint</key>
			<integer>384</integer>
			<key>maxPoint</key>
			<integer>11333</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>1730</integer>
			<key>duelPoint</key>
			<integer>576</integer>
			<key>maxPoint</key>
			<integer>17099</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>2594</integer>
			<key>duelPoint</key>
			<integer>865</integer>
			<key>maxPoint</key>
			<integer>25749</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>3892</integer>
			<key>duelPoint</key>
			<integer>1297</integer>
			<key>maxPoint</key>
			<integer>38723</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>5838</integer>
			<key>duelPoint</key>
			<integer>1946</integer>
			<key>maxPoint</key>
			<integer>58184</integer>
		</dict>
		<dict>
			<key>levelUpPoint</key>
			<integer>6000</integer>
			<key>duelPoint</key>
			<integer>2919</integer>
			<key>maxPoint</key>
			<integer>9999999</integer>
		</dict>
	</array>
</dict>
</plist>
